<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<ConnectStrings>
		<add name="connstring" connectionStrings="Data Source=DESKTOP-AT5O2MS\MICROSOFTSQL;Initial Catalog=Econtact;Integrated Security=True;"/>
	</ConnectStrings>
</configuration>